<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479444954040-jietqi6rdco9lg2stk98qcg1btsttnto.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479444954040-jietqi6rdco9lg2stk98qcg1btsttnto</string>
	<key>API_KEY</key>
	<string>AIzaSyCY2QboCVlN33Dr9LCjJ7UxtecAAFyQixY</string>
	<key>GCM_SENDER_ID</key>
	<string>479444954040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dmonster.Carwash</string>
	<key>PROJECT_ID</key>
	<string>sechaincustomer-754a0</string>
	<key>STORAGE_BUCKET</key>
	<string>sechaincustomer-754a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479444954040:ios:ab545dd4ef6f6cecfabd4d</string>
	<key>DATABASE_URL</key>
	<string>https://sechaincustomer-754a0.firebaseio.com</string>
</dict>
</plist>